<h2 class="title">Country List</h2>
<div class="wrapper loading" id="country-list-wrapper">
    <table>
        <thead>
            <tr>
                <th>Country</th>
                <th>#</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody id="country-table"></tbody>
    </table>
</div>