<h2 class="title">Claim details</h2>
<div class="wrapper details">
    <div class="loading" id="details">
        <div class="text">
            <p>Title: <span id="title-detail"></span></p>
            <p>Channel: <span id="channel-detail"></span></p>
            <p>Claim Name: <span id="claim-name-detail"></span></p>
            <p>Claim ID: <span id="claim-id-detail"></span></p>
            <p>Check out on <a href="#" id="link-detail">LBRY Viewer</a></p>
        </div>
        <div class="img">
            <img id="thumbnail-detail" src="#" alt="">
        </div>
    </div>
    <div class="loader"></div>
</div>