<h2 class="title">Node List</h2>
<div class="wrapper loading" id="node-list-wrapper">
    <table id="node-table">
        <thead>
            <tr>
                <th>Address</th>
                <th>Country</th>
                <th>ISP</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody id="tbody"></tbody>
    </table>
</div>