<div id="loading"></div>
<style>
    .loading {
		display: absolute;
		top: 0;
		left: 0;
		margin: auto;
		border: 16px solid var(--primary);
		border-top: 16px solid var(--accent);
		border-radius: 50%;
		width: 75px;
		height: 75px;
		animation: spin 2s linear infinite;
	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
</style>